<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ServletDispatcher</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>p4n.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/h</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Aboutus</display-name>
    <servlet-name>Aboutus</servlet-name>
    <servlet-class>p4n.Aboutus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Aboutus</servlet-name>
    <url-pattern>/a</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDispatcher</display-name>
    <servlet-name>ServletDispatcher</servlet-name>
    <servlet-class>p4n.ServletDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDispatcher</servlet-name>
    <url-pattern>/ServletDispatcher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Err</display-name>
    <servlet-name>Err</servlet-name>
    <servlet-class>p4n.Err</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Err</servlet-name>
    <url-pattern>/Err</url-pattern>
  </servlet-mapping>
 <error-page>
   <error-code>404</error-code>
   <location>/error.jsp</location>
 </error-page>
  <error-page>
 <exception-type>java.lang.Throwable</exception-type>
   <location>/error.jsp</location>
 </error-page>
   
</web-app>